<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfara.themoviedbapiwithviewmodel">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.alfara.themoviedbapiwithviewmodel.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.alfara.themoviedbapiwithviewmodel.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.NotificationSettingActivity"></activity>

        <provider
            android:name=".provider.MovieProvider"
            android:authorities="com.alfara.themoviedbapiwithviewmodel.movie"
            android:exported="true"
            android:readPermission="com.alfara.themoviedbapiwithviewmodel.READ_DATABASE"
            android:writePermission="com.alfara.themoviedbapiwithviewmodel.WRITE_DATABASE"></provider>
        <provider
            android:name=".provider.TvProvider"
            android:authorities="com.alfara.themoviedbapiwithviewmodel.tvshow"
            android:exported="true"
            android:readPermission="com.alfara.themoviedbapiwithviewmodel.READ_DATABASE"
            android:writePermission="com.alfara.themoviedbapiwithviewmodel.WRITE_DATABASE"></provider>

        <receiver android:name=".widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".activity.DetailTvActivity" />
        <activity android:name=".activity.DetailMovieActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".notifications.NotificationReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>